<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/meet">Create a meet</a> </li>
      <li><a href="/join">Join a meet</a> </li>
    </ul>

    <h3>Create meet (can be put into iframe):  </h3>
    <span>http://maodou.us:3000/plugin/meet?id=123456&firstName=maodou.io&lastName=&pictureUrl=http://g.twimg.com/Twitter_logo_blue.png</span>

    <iframe src="http://maodou.us:3000/plugin/meet?id=123456&firstName=maodou.io&lastName=&pictureUrl=http://g.twimg.com/Twitter_logo_blue.png" style="border:0;width:750px;height:400px;"></iframe>


    <h3>Join meet (can be put into iframe):  </h3>
    <span>http://maodou.us:3000/plugin/join?id=221133&firstName=Jacob&lastName=Zhou&pictureUrl=http://www.booksatruestory.com/wp-content/uploads/2013/08/apple-logo-small.jpg&meetingKey=824%20133%20290</span>
    <!--<iframe src="http://maodou.us:3000/plugin/join?id=221133&firstName=Jacob&lastName=Zhou&pictureUrl=http://www.booksatruestory.com/wp-content/uploads/2013/08/apple-logo-small.jpg&meetingKey=824%20133%20290" style="border:0;width:750px;height:400px;">Join</iframe>
-->
  </body>
  <script>

    function receiveMessage(e) {
      //if (e.origin !== "http://maodou.us:3000") return;
      console.log('Event handled in parent of iframe. Message Received:' + JSON.stringify(e.data));
    }
    window.addEventListener('message', receiveMessage);

  </script>
</html>
