<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <h3>Moxtra - Join Meet</h3>
    <label for="meeting_key">meeting id: </label><input id='meeting_key' type='text' value=''/>
    <label for="user_name">your name: </label><input id='user_name' type='text' value='Jacob'/>

    <a id="join-meet" href="#">Join</a>
</div>

<!-- Include External JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<div id="meet-container"></div>
<!-- Include Moxtra JavaScript Library -->
<script type="text/javascript" src="/javascripts/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>

<script type="text/javascript" src="/javascripts/meet.js"></script>

<script type="text/javascript">
    $(function () {

        $('#meet-container').html('');

        $('#join-meet').click(function () {
            $('#meet-container').html('');

            maodou.joinMeet({
                id: "654321",
                firstName: $('#user_name').val(),
                LastName: "",
                meetingKey: $('#meeting_key').val(),
                pictureUrl: "http://q.qlogo.cn/qqapp/101150539/212C7B1BDB1EBE6232A1EAEB5C8CED0A/100"
            });
        });
    });
</script>
</body>
</html>