<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        iframe {
            overflow: hidden !important;
        }
    </style>
</head>
<body>

<h3><!--<a id="getToken" href="javascript:get_token();"></a>-->Moxtra - Host Meet</h3>

<div id="meet-container"></div>

<!-- Include External JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<!-- Include Moxtra JavaScript Library -->
<!--<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>-->
<script type="text/javascript" src="/javascripts/moxtra-latest.js" id="moxtrajs" data-client-id="uGvPYrH651o"></script>

<script type="text/javascript" src="/javascripts/meet.js"></script>

<script type="text/javascript">


    $(function () {

        $('#meet-container').html('');

        /*
        maodou.eventHandler = function(event) {
            console.log("Host");
            console.log("event: " + JSON.stringify(event));
        };
        */

        maodou.startMeet({id: "123456", firstName: "maodou.io", lastName: ""});
    });

</script>
</body>
</html>